* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200;1,700&family=Tai+Heritage+Pro&display=swap");

:root {
  --body: rgb(54, 200, 211);
  --color2: rgb(85, 79, 79);

  --color3: white;
  --color4: rgb(17, 5, 5);
  --btnColor: rgba(143, 140, 140, 30%);
}

body {
  background-color: var(--body);

  font-family: "Tai Heritage Pro", serif;
}
span {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}
